@import '../responsive.scss';

.layout {
  min-height: 100vh; // Ensure the layout takes at least the full viewport height
  max-width: 1366px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include lg {
    max-width: 1200px;
  }
  @include md {
    max-width: 768px;
  }
  @include sm {
    max-width: 640px;
  }

  
  
}
